:host {
  width: 100%;
}

.account-list-container {
  width: 100%;
  margin-top: 2em;
}

.account-list-toolbar {
    width: 100%;  

}



.list-header {
      margin-left: 2em;
      display: inline;
  }

  .create-acc-btn {
    float: right;
    margin-right: 2em;
  }
  
  .example-header {
   
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }