:host {
    margin-top: 4em;
}



  .list-header {
      text-align: center;
  }
  
  .example-header {
   
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }