:host {
  width: 100%;
}

.ledger-container {
  width: 100%;
  margin-top: 2em;
}

.ledger-toolbar {
    width: 100%;  

}



.list-header {
      margin-left: 2em;
      display: inline;
  }

  .create-record-btn {
    float: right;
    margin-right: 2em;
  }


.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }