.login-form-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    text-align: center;
    padding: 2em;
}

mat-card {
    width: 100%;
    padding: 1em;
    
}

mat-card-title{
    margin: 1em;
}

.email-input {
    text-align: center;
}