:host {
    width: 100%;
}
.trasaction-form-container {
    
    width: 55%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form-group-div {
    width: inherit;
    margin-left: auto;
    margin-right: auto;
}

.example-full-width {
    width: 100%;
}

.submit-btn-div {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.submit-btn {
    width: 100%;
}


.last-inserted-record-div {
    position: absolute;
    right: 1em;
    bottom: 1em;
    width: 20%;
}
 
