:host {
    width: 100%;
}
.account-form-container {
    
    width: 55%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form-group-div {
    width: inherit;
    margin-left: auto;
    margin-right: auto;
}

.example-full-width {
    width: 100%;
}

.submit-btn-div {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.submit-btn {
    width: 100%;
}

.account-list-nav {
    width: 100%;
    margin-top: 2em;
    text-align: right;
    
}

.acc-list-nav-link {
    margin-right: 2em;
}


